*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.buttons{
    transition: all 300ms ease 0ms;
    color:white;
}

.buttons:hover{
    letter-spacing: 2px;
}

/* Header */

header{
    display:flex;
    background-color:white;
    height: 90px;
    justify-content:space-between;
}

#A_logo{
    display:flex;
    align-self:stretch;
    align-items:center;
    padding-left:30px;
}

#logo{
    max-height:70%;
}

.header_left{
    display:flex;
    align-self: stretch;
    align-items: center;
/*    background-color:black; */
    padding-right: 30px;

}

.list_nav{
    list-style: none;
    display: flex;
/*    background-color: yellow; */
    align-self: center;

}

.menu_nav{
    display:flex;
    font-size: 14px;
    padding-right: 22px;
    font-family: "Roboto Slab";
}

.last_menu_nav{
    display:flex;
    font-size: 14px;
    font-family: "Roboto Slab";
}

.search_icon{
    font-size: 20px;
    margin: 0 0 0 22px;
    display: flex;
    align-self: center;
/*    background-color: yellow; */
}

/* End of header */

/* Hero Header */

.hero_header{
    display: flex;
    height: 795px;
/*    background-color:yellow; */
    padding-bottom: 27px;
}

.hero_left{
    display: flex;
    background-color:#336699;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.hero_right{
    display: flex;
    height: 795px;
    width: 50%;
}
#hero_image{
    display:flex;
}

.hero_left_text{
    display: flex;
    flex-direction: column;
    background-color: #336699;
    justify-content: center;
    font-size:25px;

}
.hero_left_paragraph1, .hero_left_paragraph2{
    line-height: 1.2em;
    color: white;
}

.hero_left_paragraph2{
    font-family:"Roboto Slab";
    text-align: center;
}

.hero_left_text p{
    padding-bottom: 1em;
}

.hero_left_button{
    display:flex;
    font-family:"Roboto Slab";
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.call_to_action{
    color:white;
    background-color: #ff2063;
    font-size: 22px;
    padding: .3em 1em;
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;

}

.hero_left_conditions{
    display:flex;
    font-size: 12px;
    margin-top: 10px;
    color: white;
    text-align:center;
    align-self:center;
    font-weight: 100;
}
/* END Hero */
/* 3 columns */

.section2{
    color: #336699;
    display: flex;
    flex-direction:column;
    background-color:white;
}

.section2_title,
.section3_title,
.section4_title{
    font-size:40px;
    display:flex;
    font-family: "Roboto Slab";
    font-weight:500;
    padding-top: 27px;
    padding-bottom:27px;
/*    background-color:grey; */
    justify-content:center;
}

.section2_3columns{
    display:flex;
    padding-top: 27px;
    padding-bottom:27px;
/*    background-color:green; */
    margin-left:5%;
    margin-right:5%;
    justify-content: space-between;
}

.section2_columns{
    display:flex;
    background-color:white;
    box-shadow: 0px 0px 60px 0px rgba(71,74,182,0.12);
    width: 30%;
}

.section2_interior_columns{
    display:flex;
    flex-direction:column;
    padding-left:40px;
    padding-right:40px;
    padding-top:30px;
    padding-bottom:30px;

}

.columns_container_logo{
    display: flex;
    width: 100px;
    align-self:center;
    margin-bottom:30px;
}

#section2_logo{
    display:flex;
    width:100%;
}

.columns_title{
    display:flex;
    font-family:"Roboto Slab";
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
}

.columns_RNCP, .columns_description{
    font-size: 19px;
    line-height: 1.7em;
    font-weight:500;
}

.columns_RNCP strong{
    font-family: "Roboto Slab";
    font-weight: 700;
}

.columns_RNCP{
    padding-bottom: 1em;
}

.columns_description{
    margin-bottom:60px;
}

.columns_button{
    display:flex;
    font-family:"Roboto";
    text-align: center;
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
}

.columns_button_link{
    color:white;
    background-color: #ffca4b;
    font-size: 16px;
    padding: 1.2em;
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;

}

/* END Section 2 - columns */
/* Section 3 - Rows */

.section3{
    color: #336699;
    display: flex;
    flex-direction:column;
/*    background-color:grey; */
    padding-top: 54px;
    padding-bottom: 54px;
    margin-left: 5%;
    margin-right: 5%
}

.section3_3rows{
    display: flex;
    flex-direction: column;
    padding-top: 27px;
    padding-bottom: 27px;
}

.section3_rows{
    display:flex;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 2.75%;
    text-decoration: none;
    background-color: white;
    box-shadow: 0px 0px 60px 0px rgba(71,74,182,0.12);

}

.section3_container_logo{
    display: flex;
    width: 100px;
    height:100px;
    flex-shrink:0;
}

#section3_row_logo{
    display:flex;
    width:100%;
}

.section3_row_paragraph{
    display:flex;
    flex-direction:column;
    color: #336699;
    padding-left:15px;
    line-height: 1.7em;
    font-weight: 500;
    font-size: 18px;
}

.section3_row_title{
    display:flex;
    font-family:"Roboto Slab";
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
}

.section3_row_text{
    display:flex;

}

.section3_buttons{
    display:flex;
    font-family:"Roboto";
    text-align: center;
    align-self: center;
    align-content: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 4%;
}

.rows_button_link{
    color:white;
    background-color: #ffca4b;
    font-size: 16px;
    padding: 1.2em;
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
}

/* END Section 3 */
/* Section 4 */

.section4{
    color: white;
    background-color: #ffa000;
    display: flex;
    flex-direction:column;
/*    background-color:grey; */
    padding-top: 50px;
    padding-bottom: 54px;
    margin-top: 20px;
}

.section4_text{
    display: flex;
    text-align: center;
    align-self: center;
    font-size: 18px;
    max-width: 1080px;
}

.section4_container_columns{
    display: flex;
    padding-top:27px;
    justify-content: space-evenly;
}

.section4_container_video{
    display: flex;
    width: 42%;
    aspect-ratio: 2;
}

.section4_video{
    display:flex;
    border:none;
    width:100%;
}

/* END Section 4 */
/* FOOTER */

footer{
    display:flex;
    color: white !important;
    flex-direction:column;
}

.bigfooter{
    display:flex;
    background-color:#313131;
    width:90%;
    padding-left: 5%;
    padding-right: 5%;
}

.logo-links{
    display:flex;
    flex-direction:column;
    width: 30%;
    padding: 3% 0;
    margin-right:5.5%;
}

.bigfooter_container_logo{
    display:flex;
    margin-top:60px;
    margin-bottom:10%;
    margin-right: 15%;
}

.bigfooter_logo{
    display:flex;
    width:100%;
}

.site-plan{
    display:flex;
    width:70%;
    padding-right:5%;
    padding-top: 60px;
    padding-bottom: 5%;
    justify-content:space-between;
}

.site-plan_column{
    display:flex;
    flex-direction: column;
    width:30%;
}

.site-plan_column strong{
    font-size: 1.1em;
}

.site-plan_column p{
    padding-bottom:1em;
}

.site-plan_column a{
    text-decoration:none;
    color: white;
}

.site-plan_contact{
    display:flex;
}

.site-plan_contact a{
    display:flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid;
    border-radius: 3px;
    border-color: white;
    transition: all 300ms ease 0ms;
}

.site-plan_contact a:hover{
    border-color: transparent;
}

.site-plan_contact a:after{
    content: ">";
    margin-left: 2.5em;
    font-size: 18px;
    position: absolute;
    opacity:0;
    transition: all 300ms ease 0ms;
}

.site-plan_contact a:hover::after{
    opacity: 1;
    margin-left: 4em;
}

.site-plan_container_april{
    display:flex;
    width:60%;
    margin-top: 25%
}

.site-plan_container_april img{
    width:100%;
}

.littlefooter{
    display:flex;
    background-color: black;
    justify-content: space-between;
    padding: 1% 5%;
}

.littlefooter_copyright a{
    color:white;
    text-decoration:none;

}

.littlefooter_links{
    display:flex;
    justify-content:space-between;
    width:10%;

}

.littlefooter_links_container{
    display:flex;
    width:14%;
}

.littlefooter_links_logo{
    width:100%;
}



/* END of Footer */